table {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid black !important;
}

thead {
  border: 2px solid black !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tHeaderGroups {
  text-align: center;
}

.t-blue {
  color: #5959ce;
}

.t-lblue {
  color: #009ffd;
}

.t-green {
  color: rgb(0, 150, 20);
}

.t-red {
  color: red;
}

.t-grey {
  color: grey;
}

.t-info {
  color: var(--info);
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-700 {
  font-weight: 700;
}

.table-footer {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-btn {
  bottom: 0;
  right: 0;
  padding: 0.1rem 0.2rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cart-btn:hover {
  color: var(--mainBlue);
  cursor: pointer;
}

.cp {
  cursor: pointer;
}

.cp:hover {
  color: var(--lightBlue);
}

.cpIcon :hover {
  color: var(--lightBlue);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.fl {
  float: left;
}

.export {
  color: green;
  font-weight: 500;
}

.export :hover {
  color: var(--lightBlue) !important;
  font-weight: 500;
}
.export a :hover {
  color: var(--lightBlue) !important;
}
